h2 {
    font-size: 2.8rem;
    color: var(--text-primary-clr);
    line-height: 100%;
    margin-top: 2.5rem;
    text-transform: capitalize;
}

.overlay-text {
    position: relative;
}

.overlay-text::before{
    content: attr(datatype);
    position: absolute;
    top: -70%;
    left: -20%;
   white-space: nowrap;
    text-transform: uppercase;
    font-size: 5rem;
    color: var(--text-primary-clr);
    font-weight: bold;
    z-index: -1;
    opacity: .08;
}

.self-end {
    align-self: flex-end;
}

.card {
    border: 0.1rem solid rgba(123, 123, 123, 0.2);
    padding: 1.5rem;
    background: var(--surface-clr);
    border-radius: 1rem;
    flex: 1;
    flex-basis: 300px;
}

.mt-5 {
    margin-top: 5rem;
}
h4{
    font-size: 1.5rem;
    color: var(--text-primary-clr);
}

.service-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
    aspect-ratio: 1;
    width: 4rem;
    font-size: 1.8rem;
    color: var(--text-primary-clr);
    background: var(--background-clr);
    border: 0.1rem solid rgba(123, 123, 123, 0.2);
}

.arrow {
    vertical-align: middle;
}

.m-block-1 {
    margin-block: 1rem;
}

.stretch {
    align-items: stretch;
}

.hide-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.design {
    position: relative;
}

.design::before {
    position: absolute;
    content: '';
    background: var(--primary-blue-clr);
    inset: 2rem 0 7rem -0.6rem;
    z-index: -1;
    border-radius: inherit;
}

.border-btm {
    border-bottom: 0.05rem solid var(--text-primary-clr);

}


@media screen and (max-width: 790px) {

    .overlay-text::before {
        font-size: 4rem;
        top: 20%;
        left: -20%;
    }

    h2 {
        font-size: 2.2rem;
    }

    .p-block-9 {
        padding-block: 8rem;
        
    }
}