.scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
    }

    .scroll-button {
      aspect-ratio: 1;
      border-radius: 100vw;
      width: 3rem;
      font-size: 1.8rem;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--primary-clr);
      color: var(--top-clr);
      border: 0.1rem solid var(--top-clr);
      z-index: 100;
      transition: 0.3s ease-in-out;
    }


    .scroll-button:hover {
     
      border: 0.1rem solid var(--top-clr);
       background: var(--top-clr);
      color: var(--primary-clr);

    }