.about-image, .about-content {
    flex: 1;
    flex-basis: 300px;
}

.about-content h6 {
    font-size: 2rem;
    color: var(--text-primary-clr);
    text-align: center;
}

.m-block-3{
    margin-block: 3rem;
}

.gap-5 {
    gap:5rem;
}