.profile {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating-star {
    color: var(--top-clr);
    font-size: 1.2rem;
    margin-right: .8rem;
}

.slick-next::before, .slick-prev::before {
    display: none;
}


.slick-dots li button::before{
  
    font-size: 1.3rem !important;
    color: var(--text-secondary-clr) !important;
    border-radius: 100vw;
}

.slick-dots li.slick-active button::before {
    color: var(--top-clr) !important;
  
}
 .slick-dots{
  
    bottom: -50px !important;
 }

 .slick-slide {
    padding-inline:40px !important ;
 }

 .slick-list {
    margin-inline: -40px !important;

 }

 .border-bottom {
    margin-bottom: 2rem;
 }

 .mb-3 {
    margin-bottom: 3rem;
 }